@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
}

:root {
    --black: rgba(19, 17, 17, 0.795);
    --white: rgb(255, 255, 255);
}

.mainClass {
    width: 100vw;
    height: 480px;
    flex-direction: column;
    font-family: "Roboto", serif;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: 50px;
}

h1,h2 {
    color: var(--black);
    text-align: center;
    padding: 10px;
    margin: 5px;
    font-weight: 700;
    text-wrap: wrap;
}

h1 {
    font-size: 48px;
}

h2 {
    font-size: 32px;
}

.buttonMainClass {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    padding: 15;
    margin: 10;
    gap: 15px;
}

#boxOne {
    font-family: "Roboto", serif;
    height: 200px;
    width: 200px;
    text-align: center;
    font-size: 24px;
    color: var(--white);
    text-align: center;
    font-weight: 500;
    border: solid var(--black) 8px;
    background-color: #0000CD;
}


#boxTwo {
    font-family: "Roboto", serif;
    height: 200px;
    width: 200px;
    text-align: center;
    font-size: 24px;
    color: var(--white);
    text-align: center;
    font-weight: 500;
    border: solid var(--black) 8px;
    background-color: rgb(178, 34, 34);
}

a{
    
    text-decoration: none;
    outline: none;
    color: var(--white);
    font-weight: 500;
}

#boxTree {
    font-family: "Roboto", serif;
    height: 200px;
    width: 200px;
    text-align: center;
    font-size: 24px;
    color: var(--white);
    text-align: center;
    font-weight: 500;
    border: solid var(--black) 8px;
    background-color: rgb(47, 4, 87);
}

#boxFour {
    font-family: "Roboto", serif;
    height: 200px;
    width: 200px;
    text-align: center;
    font-size: 24px;
    color: var(--white);
    text-align: center;
    font-weight: 500;
    border: solid var(--black) 8px;
    background-color: rgb(43, 255, 0);
}


@media(max-width:720px) {
    .buttonMainClass {
        flex-direction: column;
    }

    #boxOne {
        height: 100px;
        width: 100px;
    }

    #boxTwo {
        height: 100px;
        width: 100px;
    }

    #boxTree {
        height: 100px;
        width: 100px;
    }

    #boxFour {
        height: 100px;
        width: 100px;
    }
}